body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full viewport height */
    margin: 0;
    background-color: #000000; /* Light gray-blue background */
}

h1 {

    text-shadow: 2px 2px 6px #000000;
    color: #fff;
    font-size: 4.5em;
    margin-bottom: 20px;
}

#timer {
    border-radius: 5px;
    background-color: rgb(95, 94, 94);
    outline-style: solid;
    outline-color: rgb(59, 59, 59);
    font-size: 4em;
    padding: 10px;
    margin-bottom: 30px;
    color: #2ecc71; /* Green */
    box-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    font-size: 1.5em;
    margin: 0;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

#start {
    background-color: #2ecc71; /* Green */
    color: white;
}

#pause {
    background-color: #e74c3c; /* Red */
    color: white;
}


button:hover {
    filter: brightness(0.9); /* Slight darkening on hover */
}

#video-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    max-width: 100%; /* Ensure the video doesn't exceed the width of the viewport */
}

/* Optional: Adjust the position for smaller screens */
@media only screen and (max-width: 600px) {
    #video-container {
        top: 50px;
        right: 0;
    }
}

#clock {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#clock div {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}